<!-- Modal: Chi tiết công việc -->
<div class="modal fade" id="taskDetailModal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header border-0">
                <h5 class="modal-title fw-bold">Chi tiết công việc</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body" id="taskDetailContent"></div>
            <div class="modal-footer border-0">
                <button type="button" class="btn btn-light" data-bs-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary" id="editTaskBtn" style="background-color: #4285f4; border: none;">Sửa</button>
                <button type="button" class="btn btn-danger" id="deleteTaskBtn">Xóa</button>
            </div>
        </div>
    </div>
</div>
